@import url(https://fonts.bunny.net/css?family=amita:700);

body {
  background-color: black;
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.client-page-top1 {
  width: 100%;
  min-height: 400px;
  background-image: url("../asserts/clientbg.jpg"); 
  background-size: cover;
}

.client-titile {
  padding-left: 50px;
  /* margin-top: -40px; */
  /* padding-top: 10px;  */
  color: #fff;
  text-shadow: 2px 2px 4px #680303;
  max-width: 780px;

  line-height: 1.2;
  font-family: "Arial", "Helvetica";
}
.client-about {
  color: #d9d9d9;
  line-height: 1.75;
  font-size: 17px;

  margin-top: 20px;
  padding-left: 50px;
  font-family: "Arial", "Helvetica";
}

.client-head-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}
@media (max-width: 591px) {
  .client-page-top1 {
    margin-top: 40%;
  }
  .client-titile {
    padding-left: 50px;
  }
  .client-about {
    padding-left: 50px;
  }
}
@media (max-width: 991px) {
}
/* h1 {
  color: #fefae0;
  font-family: Amita;
  margin: 20px auto;
  width: 450px;
  font-size: 3rem;
  text-align: center;
  /* border-bottom: 10px double #bc6c25; 
} */

.galery-image1 {
  width: 200px;
  height: 100px;
  margin: 10px;
  border: 2px solid red;

  transition-duration: 1s;
}

.galery-image1:hover {
  border: 5px solid #fff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: none;
  filter: none;
}

/* footer {
  background-color: #bc6c25;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  min-width: 100vw;
} */
.image-galery-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container .image-galery {
  padding-top: 20px;
}

/* .pic-ctn {
  width: 100vw;
  height: 200px;
} */

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;

  margin-top: 15vh;
}
.pic-ctn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 300px; /* Adjust this height as needed */
  margin-top: 15vh;

  /* Adjust the top margin as needed */
}
.card {
  background: linear-gradient(45deg, #ff0506, #c142423d);
  height: auto;
  width: 50%;
}

.pic-ctn > .card {
  position: absolute;
  top: 0;
  left: calc(30% - 80px);
  opacity: 0;
  margin-right: 30%;
  animation: display 10s infinite;
}

.card:nth-child(2) {
  animation-delay: 2s;
}
.card:nth-child(3) {
  animation-delay: 4s;
}
.card:nth-child(4) {
  animation-delay: 6s;
}
.card:nth-child(5) {
  animation-delay: 8s;
}
.card-image-clients {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.client-head2 {
  padding-left: 50px;
  /* margin-top: -40px; */
  /* padding-top: 10px;  */
  color: #fff;
  text-shadow: 2px 2px 4px #680303;
  max-width: 780px;

  line-height: 1.2;
  font-family: "Arial", "Helvetica";
}
.client-head3 {
  color: #d9d9d9;
  line-height: 1.75;
  font-size: 17px;

  padding-left: 50px;
  font-family: "Arial", "Helvetica";
}
.img-client-head h1 {
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  color: #fff;
  text-shadow: 2px 2px 4px #680303;
  max-width: 780px;

  line-height: 1.2;
  font-family: "Arial", "Helvetica";
}

.client-titile {
  padding-left: 50px;
  /* margin-top: -40px; */
  /* padding-top: 10px;  */
  color: #fff;
  text-shadow: 2px 2px 4px #680303;
  max-width: 780px;

  line-height: 1.2;
  font-family: "Arial", "Helvetica";
}
.client-about {
  color: #d9d9d9;
  line-height: 1.75;
  font-size: 17px;

  margin-top: 20px;
  padding-left: 50px;
  font-family: "Arial", "Helvetica";
}

@media (max-width: 591px) {
  /* .client-page-top1 {
    margin-top: 40%;
  } */
  .client-titile {
    padding-left: 50px;
  }
  .client-about {
    padding-left: 50px;
  }
}
@media (max-width: 991px) {
}
/* h1 {
  color: #fefae0;
  font-family: Amita;
  margin: 20px auto;
  width: 450px;
  font-size: 3rem;
  text-align: center;
  /* border-bottom: 10px double #bc6c25; 
} */

.galery-image1:hover {
  border: 5px solid #fff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: none;
  filter: none;
}

/* footer {
  background-color: #bc6c25;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  min-width: 100vw;
} */

.image-galery-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container .image-galery {
  padding-top: 20px;
}

/* .pic-ctn {
  width: 100vw;
  height: 200px;
} */

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;

  margin-top: 15vh;
}
.pic-ctn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 300px; /* Adjust this height as needed */
  margin-top: 15vh;

  /* Adjust the top margin as needed */
}
.card {
  background: linear-gradient(45deg, #ff0506, #c142423d);
  height: auto;
  width: 50%;
}

.pic-ctn > .card {
  position: absolute;
  top: 0;
  left: calc(30% - 80px);
  opacity: 0;
  margin-right: 30%;
  animation: display 10s infinite;
}

.card:nth-child(2) {
  animation-delay: 2s;
}
.card:nth-child(3) {
  animation-delay: 4s;
}
.card:nth-child(4) {
  animation-delay: 6s;
}
.card:nth-child(5) {
  animation-delay: 8s;
}
.card-image-clients {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1000px) {
  .img-clientpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card-image-clients {
    width: 50%;
  }
  .pic-ctn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 400px; /* Adjust this height as needed */
    margin-top: 15vh;

    /* Adjust the top margin as needed */
  }
  .pic-ctn > .card {
    position: absolute;
    top: 0;
    left: calc(30% - 100px);
    opacity: 0;
    margin-right: 30%;
  }
  .card {
    background: linear-gradient(45deg, #ff0506, #c142423d);
    height: auto;
    width: 50%;
    padding: 30px;
  }
}
@media (max-width: 500px) {
  .pic-ctn > .card {
    left: calc(30% - 70px);
    width: 70%;
  }
  .pic-ctn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 500px; /* Adjust this height as needed */
    margin-top: 15vh;

    /* Adjust the top margin as needed */
  }
}
@media (max-width: 350px) {
  .pic-ctn > .card {
    left: calc(30% - 70px);
    width: 70%;
  }
  .pic-ctn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 700px; /* Adjust this height as needed */
    margin-top: 15vh;

    /* Adjust the top margin as needed */
  }
}

.client-head2 {
  padding-top: 50px;
  color: #fff;
  text-shadow: 2px 2px 4px #680303;
  /* max-width: 780px; */

  line-height: 1.2;
  font-family: "Arial", "Helvetica";
}
.client-head3 {
  color: #d9d9d9;
  line-height: 1.75;
  font-size: 17px;

  padding-left: 50px;
  font-family: "Arial", "Helvetica";
}
.img-client-head h1 {
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  color: #fff;
  text-shadow: 2px 2px 4px #680303;
  max-width: 780px;

  line-height: 1.2;
  font-family: "Arial", "Helvetica";
}

.client-head2 {
  padding-top: 80px;
}

.client-top3-gaayu {
  height: 600px;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

div#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  width: 300px;
  height: 400px;
  background: linear-gradient(
    71deg,
    #080509,
    #1a171c,
    #080509
  ); /* Set background color to white */
  border: 2px solid red; /* Add red border */

  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;

  /* background: white; */
}
div.item:nth-of-type(2) {
  --offset: 2;
  /* background-color: #ff70a6; */
}
div.item:nth-of-type(3) {
  --offset: 3;
  /* background-color: #ff9770; */
}
div.item:nth-of-type(4) {
  --offset: 4;
  /* background-color: #ffd670; */
}
div.item:nth-of-type(5) {
  --offset: 5;
  /* background-color: #e9ff70; */
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ div#carousel {
  --position: 3;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ div#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ div#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ div#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ div#carousel {
  --position: 5;
}

.card-image {
  width: 75%;

  padding-top: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.client-name {
  text-align: center;
  color: #fff;
}
.client-title {
  text-align: center;
  color: #fff;
}
.client-discription {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: #fff;
}
.a {
  border-radius: 5px;
}
input[type="radio"] {
  /* Hide the default radio button */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid red; /* Set border color to red */
  outline: none;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: red; /* Set background color to red when checked */
}
