.list {
  text-decoration: none;
}
.dropdown-item:active {
  background-color: black;
  background: linear-gradient(45deg, #ff0506, #ff0506, #ff0506, #c142423d);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dropdown-item:hover{
  background-color: black;
  background: linear-gradient(45deg, #ff0506, #ff0506, #ff0506, #c142423d);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-nav .nav-link.active {
  font-size: 20px;
  font-family: "Arial", "Helvetica";
  color: rgb(255, 255, 255);
  background: linear-gradient(45deg, #ff0506, #ff0506, #ff0506, #c142423d);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 10px #ff0506);
}
.nav-link {
  color: rgb(248, 248, 255);
  color: rgb(255, 255, 255);
  background: linear-gradient(45deg, #ff0506, #ff0506, #ff0506, #c142423d);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 10px #ff0506);
  font-family: "Arial", "Helvetica";
  
}

/* hover ul li */
.navbar-nav li:hover .nav-link {
  font-size: 22px; /* Adjust the font size as needed */
}



.nav-link:focus,
.nav-link:hover {
  /* color: rgb(255, 255, 255); */
  background: linear-gradient(45deg, #ff0506, #ff0506, #ff0506, #c142423d);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 10px #ff0506);
  
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: rgb(255, 255, 255);

  color: rgb(255, 255, 255);
  background: linear-gradient(45deg, #ff0506, #ff0506, #ff0506, #c142423d);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 10px #ff0506);
}
.toogle-icon1 {
  color: aqua;
}

.navbar-toggler .navbar-toggler-icon.toogle-icon1 {
  color: blueviolet !important;
}
/* .navbarDropdown {
  background-color: black;
  background-color: black;
} */
.dropdown-item {
  background-color: black;
  
  
}
.nav-item {
  background-color: black;
  
}

/* strategy hover */
.nav-item:hover{
  font-size: 70px;
 
}
.dropdown-menu {
  background-color: black;
  color: white;
  
}
.dropdown-item {
  color: #ff1a12;
  font-family: "Arial", "Helvetica";
  font-size: 17px;
 
}

.spans{
  color: #ff0506;
 
}
.navbar-nav{
  margin-right: 5%;
  
}
.nav-item{
  font-size: 20px;
  font-family: "Arial", "Helvetica";
}
.blackpic{
  width: 80px;
  height: 40px;
  padding-left: 18px;
}