@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@200;500&family=Protest+Revolution&display=swap");

/* work logo page start  */

.bggg{
  /* background-image: url("../components/asserts/red.jpg"); */
  background-image: url("../components/asserts/IMG_AAA.jpg");

  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  min-height: 550px;
  
  background-size: cover;

  -webkit-animation: background-anim-example-10 90s linear infinite;
  animation: background-anim-example-10 80s linear infinite;
  
}
@media screen and (max-width: 925px) {
  .work1 {
    display: none;
    text-decoration: none;
  }
}
@media screen and (max-width: 980px) {
  .work1 {
    display: none;
    text-decoration: none;
  }
}

.gaaayu {
  text-decoration: none;
  color: azure;
  font-size: 13px;
  font-family: "Arial", "Helvetica";
}

.work {
  /* background-color: #000000; */

  /* background-color: black; */
  margin-top: -19px;
  border: 1px solid;
   padding: 40px;
   /* padding-left: 20px; */
  
  
  
}

.btn-dark {
  width: 300px;
  height: 180px;
  background-color: hsl(0, 0%, 100%);
  background: #ff0506;
  background: linear-gradient(45deg, #ff0506, #c142423d);
  /* color: rgb(0, 0, 0); */
  background: linear-gradient(45deg, #ff0506, #ff0506, #ff0506, #c142423d);
  margin-top: 30px;
  outline: none;
  border: none;
  font-family: "Arial", "Helvetica";
  /* border: 6px solid rgb(230, 36, 36); */
  
  /* -webkit-box-shadow: 1px 1px 10px 0px rgba(237, 41, 41, 0.65);
-moz-box-shadow: 1px 1px 10px 0px rgb(234, 18, 18);
box-shadow: 1px 1px 10px 0px rgb(255, 15, 15); */
 margin-right: 10px;
 

 
 

}

/* .work1{
  color: #000000;
  background: linear-gradient(
    45deg,
    #ff0506,
    #ff0506,
    #ff0506,
    #ff0506,
    #c142423d,
    #c142423d,
    #c142423d,
    #c142423d
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
.phone {
  /* background-color: rgb(0, 0, 0); */
  color: #ffffff;
  /* background-color: rgb(0, 0, 0); */
  font-size: 40px;
  text-decoration: none;
  font-family: "Arial", "Helvetica";
}

.phone ul li {
  display: inline-block;
  align-items: center;
  font-size: 13px;
  /* font-weight: 600; */
  font-family: "Arial", "Helvetica";
  padding-top: 130px;
  justify-content: center;
  padding: 5px;
  padding-left: 50px;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .phone ul li {
    display: none;
    text-decoration: none;
  }
}

@media screen and(max-width: 600px) {
  .phone ul li {
    display: inline-block;

    align-items: center;

    font-size: 17px;

    font-family: "Arial", "Helvetica";
    justify-content: space-evenly;

    padding-top: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    /* background-color: black; */

  }
}

@media screen and(max-width: 767px) {
  .phone ul li {
    display: inline-block;

    align-items: center;

    font-size: 17px;

    font-family: "Arial", "Helvetica";
    justify-content: space-evenly;

    padding-top: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
}

@media (max-width: 767px) {
  .work1 {
    display: none;
  }
}
.lll {
  width: 350px;
  height: 300px;
  padding-top: 30px;
  padding-right: 20px;
}
.www {
  width: 350px;
  height: 300px;
  padding-top: 30px;
  padding-left: 20px;
}

@media screen and (max-width: 600px) {
  .lll {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}
/* Define the initial styles for .www */

/* Add a media query for screens smaller than 768px (typical tablets and phones) */
@media (max-width: 767px) {
  .www {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}

.llll {
  width: 350px;
  height: 300px;
  padding-top: 50px;
  padding-right: 20px;
}
.wwww {
  width: 350px;
  height: 300px;
  padding-top: 50px;
  padding-left: 20px;
}
@media screen and (max-width: 600px) {
  .llll {
    width: 100%;
    height: 23%;
    padding: 10px;
  }
}
/* Define the initial styles for .www */

/* Add a media query for screens smaller than 768px (typical tablets and phones) */
@media (max-width: 767px) {
  .wwww {
    width: 100%;
    height: 23%;
    padding: 10px;
  }
}

/* work page logo design */

/* work page banners  start*/
.work {
  /* background-color: black; */
  
}
/* .btn-dark {
  width: 250px;
  height: 180px;
  background-color: hsl(0, 0%, 100%);
  color: rgb(0, 0, 0);
  margin-top: 30px;
  outline: none;
  border: none;
} */


@media (max-width: 767px) {
  .work1 {
    display: none;
  }
}
.lll {
  width: 350px;
  height: 300px;
  padding-top: 30px;
  padding-right: 20px;
}
.www {
  width: 350px;
  height: 300px;
  padding-top: 30px;
  padding-left: 20px;
}

@media screen and (max-width: 600px) {
  .lll {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}
/* Define the initial styles for .www */

/* Add a media query for screens smaller than 768px (typical tablets and phones) */
@media (max-width: 767px) {
  .www {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}

.llll {
  width: 350px;
  height: 300px;
  padding-top: 50px;
  padding-right: 20px;
}
.wwww {
  width: 350px;
  height: 300px;
  padding-top: 50px;
  padding-left: 20px;
}
@media screen and (max-width: 600px) {
  .llll {
    width: 100%;
    height: 23%;
    padding: 10px;
  }
}
/* Define the initial styles for .www */

/* Add a media query for screens smaller than 768px (typical tablets and phones) */
@media (max-width: 767px) {
  .wwww {
    width: 100%;
    height: 23%;
    padding: 10px;
  }
}

/* work page banners end  */

/*  work video css */
.work {
  /* background-color: rgb(0, 0, 0); */
}
/* .btn-dark {
  width: 250px;
  height: 180px;
  background-color: hsl(0, 0%, 100%);
  color: rgb(0, 0, 0);
  margin-top: 30px;
  outline: none;
  border: none;
} */


@media (max-width: 767px) {
  .work1 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  iframe {
    width: 60% !important;
    height: 270px !important;
  }
}


.loading {
  padding-top: 30px;
}
 .glow-on-hover {
 
  border: none;
  outline: none;
  color: #020101;
  
  position: relative;
  z-index: 0;
 
 }

.glow-on-hover:before {
  content: '';
  

  
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
  /* background-color: floralwhite; */
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  
  left: 0;
  top: 0;
  
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.btn-dark :hover{
  background-color: bisque;
}




