.app {
  overflow: hidden;
}

/* .div {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
} */
/* .div-2 {
  background-color: #030000;
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  font-size: 35px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  padding: 28px 80px;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
    padding: 0 20px;
  }
} */
/* .img {
  aspect-ratio: 2;
  object-fit: auto;
  object-position: center;
  width: 109px;
  margin-top: 9px;
  max-width: 100%;
}
.div-3 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 6px 0;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
  }
}
.div-4 {
  font-family: Lato, sans-serif;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .div-4 {
    white-space: initial;
  }
}
.div-5 {
  font-family: Lato, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
}
.div-6 {
  font-family: Lato, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
}
.div-7 {
  font-family: Lato, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
}
.div-8 {
  font-family: Lato, sans-serif;
  align-self: start;
}
.div-9 {
  background-color: #000;
  width: 100%;
  padding-left: 80px;
}
@media (max-width: 991px) {
  .div-9 {
    max-width: 100%;
    padding-left: 20px;
  }
}
.div-10 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-10 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
} */
/* .column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-11 {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  font-weight: 500;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-11 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-12 {
  color: #da2948;
  font: 40px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-12 {
    max-width: 100%;
  }
}
.div-13 {
  align-self: start;
  display: flex;
  margin-top: 30px;
  gap: 14px;
  font-size: 35px;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div-13 {
    white-space: initial;
  }
}
.div-14 {
  color: #fff7f7;
  font-family: Poppins, sans-serif;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .div-14 {
    white-space: initial;
  }
}
.div-15 {
  color: #f00;
  font-family: Poppins, sans-serif;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .div-15 {
    white-space: initial;
  }
}
.div-16 {
  color: #c2c2c2;
  margin-top: 41px;
  font: 400 30px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-16 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-17 {
  flex-grow: 1;
}
@media (max-width: 991px) {
  .div-17 {
    max-width: 100%;
  }
}
.div-18 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-18 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 67%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}
.img-2 {
  aspect-ratio: 1.09;
  object-fit: auto;
  object-position: center;
  width: 100%;
  z-index: 10;
}
@media (max-width: 991px) {
  .img-2 {
    max-width: 100%;
  }
}
.column-4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-4 {
    width: 100%;
  }
}
.img-3 {
  aspect-ratio: 0.48;
  object-fit: auto;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}
.div-19 {
  background-color: #c2c2c2;
  width: 100%;
  padding: 17px 80px 17px 13px;
}
@media (max-width: 991px) {
  .div-19 {
    max-width: 100%;
    padding-right: 20px;
  }
}
.div-20 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-20 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-5 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 56%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-5 {
    width: 100%;
  }
}
.img-4 {
  aspect-ratio: 1.49;
  object-fit: auto;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img-4 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.column-6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 44%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-6 {
    width: 100%;
  }
}
.div-21 {
  display: flex;
  margin-top: 96px;
  flex-direction: column;
  font-size: 46px;
  font-weight: 700;
}
@media (max-width: 991px) {
  .div-21 {
    max-width: 100%;
    margin-top: 40px;
    font-size: 40px;
  }
}
.div-22 {
  color: #ca0000;
  font-family: Poppins, sans-serif;
  line-height: 91%;
}
@media (max-width: 991px) {
  .div-22 {
    max-width: 100%;
    font-size: 40px;
  }
}
.div-23 {
  color: #1f2224;
  font-family: Poppins, sans-serif;
  line-height: 92%;
  margin-top: 25px;
}
@media (max-width: 991px) {
  .div-23 {
    max-width: 100%;
    font-size: 40px;
  }
}
.div-24 {
  color: rgba(31, 34, 36, 0.7);
  margin-top: 35px;
  font: 500 17px/30px Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-24 {
    max-width: 100%;
  }
}
.div-25 {
  color: #000;
  align-self: center;
  margin-top: 121px;
  font: 700 40px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-25 {
    margin-top: 40px;
  }
}
.div-26 {
  align-self: center;
  margin-top: 94px;
  width: 100%;
  max-width: 1268px;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .div-26 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-27 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-27 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-7 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-7 {
    width: 100%;
  }
}
.img-5 {
  aspect-ratio: 1.52;
  object-fit: auto;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img-5 {
    margin-top: 8px;
  }
}
.column-8 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-8 {
    width: 100%;
  }
}
.img-6 {
  aspect-ratio: 1.75;
  object-fit: auto;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img-6 {
    max-width: 100%;
    margin-top: 8px;
  }
}
.column-9 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-9 {
    width: 100%;
  }
}
.img-7 {
  aspect-ratio: 1.79;
  object-fit: auto;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img-7 {
    max-width: 100%;
    margin-top: 8px;
  }
}
.div-28 {
  border-radius: 10px;
  background-color: #000;
  align-self: center;
  margin-top: 97px;
  justify-content: center;
  color: #fff;
  white-space: nowrap;
  padding: 22px 20px;
  font: 400 20px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-28 {
    white-space: initial;
    margin-top: 40px;
  }
}
.img-8 {
  aspect-ratio: 9.09;
  object-fit: auto;
  object-position: center;
  width: 100%;
  margin-top: 64px;
}
@media (max-width: 991px) {
  .img-8 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-29 {
  background-color: #000;
  display: flex;
  margin-top: 40px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  padding: 22px 52px;
}
@media (max-width: 991px) {
  .div-29 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div-30 {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  margin-right: 37px;
  width: 1291px;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 50px 27px 2px 63px;
}
@media (max-width: 991px) {
  .div-30 {
    margin-right: 10px;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}
.div-31 {
  align-self: stretch;
  display: flex;
  flex-basis: 0%;
  flex-direction: column;
  margin: auto 0;
}
.div-32 {
  color: #fff;
  white-space: nowrap;
  font: 28px/150% Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-32 {
    white-space: initial;
  }
}
.div-33 {
  display: flex;
  flex-direction: column;
}
.div-34 {
  color: #030306;
  font: 28px/150% Pompiere, sans-serif;
}
.div-35 {
  color: #fff;
  font: 16px/26px Poppins, sans-serif;
}
.div-36 {
  align-self: end;
  display: flex;
  margin-top: 56px;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
}
@media (max-width: 991px) {
  .div-36 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.img-9 {
  aspect-ratio: 2.27;
  object-fit: auto;
  object-position: center;
  width: 100%;
  align-self: stretch;
}
@media (max-width: 991px) {
  .img-9 {
    max-width: 100%;
  }
}
.div-37 {
  margin-top: 24px;
  font: 16px/26px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-37 {
    max-width: 100%;
  }
}
.div-38 {
  margin-top: 184px;
  white-space: nowrap;
  font: 15px/130% PT Serif Caption, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-38 {
    margin-top: 40px;
    white-space: initial;
  }
}
.div-39 {
  align-self: stretch;
  display: flex;
  flex-basis: 0%;
  flex-direction: column;
  color: #fff;
  text-align: right;
  margin: auto 0;
}
.div-40 {
  display: flex;
  flex-direction: column;
  line-height: 26px;
  padding: 0 22px;
}
@media (max-width: 991px) {
  .div-40 {
    padding: 0 20px;
  }
}
.div-41 {
  align-self: center;
  font: 28px/150% Poppins, sans-serif;
}
.div-42 {
  margin-top: 46px;
  font: 16px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-42 {
    margin-top: 40px;
  }
}
.div-43 {
  margin-top: 18px;
  font: 15px Poppins, sans-serif;
}
.div-44 {
  margin-top: 15px;
  font: 16px/165% Poppins, sans-serif;
} */

/* --------------home-------------  */
/* .top1 {
  background-color: black;
  position: relative;
  width: 100%; /* Set the width to 100% to fill the entire viewport 
  max-width: 1200px; /* Adjust the maximum width as needed 
  margin: 0 auto; /* Center the background horizontally 
} */
.top1-tit {
  background-color: #000;
}
/* .top1-head {
  background: linear-gradient(
    109.6deg,
    rgba(162, 2, 63, 1) 11.2%,
    rgba(231, 62, 68, 1) 53.6%,
    rgba(255, 129, 79, 1) 91.1%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 120px;
  padding-bottom: 10px;
  padding-left: 30px;
}
.top1-aboutus {
  padding-bottom: 20px;
  color: white;
  padding-left: 30px;
}
.top1-contactus {
  margin-bottom: 60px;
  margin-left: 30px;
}
.top1-content2 {
  /* position: relative; 
  width: 400px; /* Adjust as needed 
  height: 300px; /* Adjust as needed 
}

.top1-content2 {
  position: relative;
}
.top2 {
  background-color: rgb(32, 31, 31);
}

.header {
  background-color: #000;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 6px 0 0 80px;
  color: #c2c2c2;
}
.header-text,
.paragraph {
  margin: 0;
}
.header-text {
  color: #da2948;
  font-family: Poppins, sans-serif;
  font-size: 40px;
}
.tagline {
  display: flex;
  margin-top: 30px;
  gap: 14px;
  font-size: 35px;
}
.paragraph {
  color: inherit;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 30px;
}
.image-section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  align-items: start;
  padding: 15px 0 50px;
}
.image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 991px) {
  .header {
    padding-left: 20px;
  }
}

.imagebg {
  position: relative;
  width: 100%;
}

.pink-image {
  position: relative;
  z-index: 1;
  padding-left: 60%;
}

.lap-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding-left: 10%;
}

.portfolioSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.sectionHeader {
  padding-top: 30px;
  background: linear-gradient(
    109.6deg,
    rgba(162, 2, 63, 1) 11.2%,
    rgba(231, 62, 68, 1) 53.6%,
    rgba(255, 129, 79, 1) 91.1%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 40px;
  font-family: Poppins, sans-serif;
}
.imagesWrapper {
  display: flex;
  gap: 20px;
  margin-top: 94px;
  width: 70%;
}
@media (max-width: 991px) {
  .imagesWrapper {
    flex-direction: column;
    gap: 0;
  }
}
.imageColumn {
  width: 33%;
  display: flex;
}
@media (max-width: 991px) {
  .imageColumn {
    width: 100%;
  }
}
.image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.exploreMore {
  border-radius: 10px;
  background-image: linear-gradient(
    109.6deg,
    rgba(162, 2, 63, 1) 11.2%,
    rgba(231, 62, 68, 1) 53.6%,
    rgba(255, 129, 79, 1) 91.1%
  );
  color: black;
  padding: 15px 20px;
  margin-top: 97px;
  font-weight: 400;
  font-size: 20px;
  font-family: Poppins, sans-serif;
} */
